<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>
			Sistema Integrado de Gestión de Notas
		</title>
		<!—[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]—>
		<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet">
	</head>
	<body>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
		
		
		<div class="navbar navbar-fixed-top">  
  		<div class="navbar-inner">
			<div class="container">
			 	<a class="brand">Colegio Huellitas Genitales</a>
			
				<div class="btn-group pull-right">
					<a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> Usuario</a>
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
			
					<ul class="dropdown-menu">
						<li><a href="#"><i class="icon-cog"></i> Editar perfil</a></li>
						<li><a href="#"><i class="icon-pencil"></i> Cambiar contraseña</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="i"></i> Salir</a></li>
					</ul>
				</div>
			</div>
		</div>
		</div>		
		
		<hr class="loggedHr">
		
		<div class="container">  
        	<div class="row">  
          		<div class="span4">  
            		<ul class="nav nav-tabs nav-stacked">  
	              		<li class="active">  
	                	<a href="#">Calificación</a>   </li>     
			              <li><a href="#">Informes</a></li>  
			              <li><a href="#">Cursos </a></li>   
			              <li><a href="#">Materias</a></li>   
			              <li><a href="#">Logros</a></li>
			              <li><a href="#">Estudiantes</a></li>   
			              <li><a href="#">Profesores</a></li>
			              <li><a href="#">Grados</a></li>  
			              <li><a href="#">Sedes</a></li>        
            		</ul>  
          		</div>  
         	</div>  
      	</div> 
		
		<hr class="loggedHr">
		<footer class="loggedFooter">
			<p>Desarrollado por: <a href="www." target="_blank" class="footerLink">Nuestra empresa</a> &copy; 2013</p>
		<footer>
	</body>
</html>