<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<title>
			Sistema integrado de gestión de notas
		</title>
		</head>
	<body>
		<h1 class="loginTitle">
			Colegio Huellitas Genitales
		</h1>	
		<hr class="loginHr">
		<div id="formLogin">
			<form method="post">
				{% csrf_token %}
				<input name="userName" type="text" value="Usuario" class="userName" 
				onclick, onfocus="this.value = ''; this.className='userNameOnClick'"/>
				<br>
				<input name="userPassword" type="password" value="Contraseña" class="userPassword" 
				onclick, onfocus="this.value=''; this.className='userPasswordOnClick'"/>
				<br>
	            <input type="checkbox" class="loginRemember"/>                 
				<label class="loginRemember">Recuerdame</label>
				<input type="submit" value="Ingresar" class="loginButton"/>
			</form>
		</div>
		<hr class="loginHr">
		<footer class="loginFooter">
			<p>Desarrollado por: <a href="www." target="_blank">Nuestra empresa</a> &copy; 2013</p>
		<footer>
	</body>
</html>