<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>
			Sistema integrado de gestión de notas
		</title>
		<!—[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]—>
		<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet">
	</head>
	<body>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
		<div class="row-fluid">
			<div class="span10 offset1">
			  	<h1 id="loginTitle" class="brand">
					Colegio Huellitas Genitales
				</h1>
				<div class="row-fluid">
			  		<div class="span10" id="formLoggin">
					  	<form class="form-horizontal" method="post">
							{% csrf_token %}
						    <div class="control-group">
								<div class="controls">
									<input type="input" class="span4" id="inputUser" placeholder="Usuario">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<input type="password" class="span4" id="inputUser" placeholder="Contraseña">
								</div>
							</div>
							<div class="form-inline">
								<div class="controls">
									<label class="checkbox">
										<input type="checkbox"> Recuerdame
									</label>
									<button type="submit" class="btn offset1">Ingresar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>