<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<title>
			Sistema integrado de gestión de notas
		</title>
		</head>
	<body>
		<h1 class="loggedTitle">
			Colegio Huellitas Genitales
		</h1>	
		<hr class="loggedHr">
		<div id="formLogin">
				<a href="ww,"> <img src="{{MEDIA_URL}}icon.jpg" class="imagesAdministrator"/></a>
				<p class="textImage">
					<a href="www." class="imgagesLink">Calificación</a>
				</p>
		</div>
		<hr class="loggedHr">
		<footer class="loggedFooter">
			<p>Desarrollado por: <a href="www." target="_blank" class="footerLink">Nuestra empresa</a> &copy; 2013</p>
		<footer>
	</body>
</html>