<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<title>
			Sistema integrado de gestión de notas
		</title>
		</head>
	<body>
		<div id="headWelcomeAdministrator">
			<h1 class="loggedTitle">
				Colegio Huellitas Genitales
			</h1>
			<ul class="menu">
			    <li>Sebastian Rincon
			        <ul>
			            <li>Cambiar contraseña</li>
			            <li>Editar perfil</li>
			            <li>Salir</li>
			        <ul>
			    </li>
			</ul>
		</div>	
		<hr class="loggedHr">
		<div div id="columnContainer">
			<div id="firstColumn">
				<a href="ww,"> <img src="{{MEDIA_URL}}icon.jpg" class="imagesAdministrator"/></a>
				<p class="textImage">
					<a href="www." class="imgagesLink">Calificación</a>
				</p>
				<a href="ww,"> <img src="{{MEDIA_URL}}icon.jpg" class="imagesAdministrator"/></a>
				<p class="textImage">
					<a href="www." class="imgagesLink">Materias</a>
				</p>
				<a href="ww,"> <img src="{{MEDIA_URL}}icon.jpg" class="imagesAdministrator"/></a>
				<p class="textImage">
					<a href="www." class="imgagesLink">Profesores</a>
				</p>
			</div>
			<div id="secondColumn">
				<a href="ww,"> <img src="{{MEDIA_URL}}icon.jpg" class="imagesAdministrator"/></a>
				<p class="textImage">
					<a href="www." class="imgagesLink">Informes</a>
				</p>
				<a href="ww,"> <img src="{{MEDIA_URL}}icon.jpg" class="imagesAdministrator"/></a>
				<p class="textImage">
					<a href="www." class="imgagesLink">Logros</a>
				</p>
				<a href="ww,"> <img src="{{MEDIA_URL}}icon.jpg" class="imagesAdministrator"/></a>
				<p class="textImage">
					<a href="www." class="imgagesLink">Grados</a>
				</p>
			</div>
			<div id="thirdColumn">
				<a href="ww,"> <img src="{{MEDIA_URL}}icon.jpg" class="imagesAdministrator"/></a>
				<p class="textImage">
					<a href="www." class="imgagesLink">Cursos</a>
				</p>
				<a href="ww,"> <img src="{{MEDIA_URL}}icon.jpg" class="imagesAdministrator"/></a>
				<p class="textImage">
					<a href="www." class="imgagesLink">Estudiantes</a>
				</p>
				<a href="ww,"> <img src="{{MEDIA_URL}}icon.jpg" class="imagesAdministrator"/></a>
				<p class="textImage">
					<a href="www." class="imgagesLink">Sedes</a>
				</p>
			</div>
		</div>
		<hr class="loggedHr">
		<footer class="loggedFooter">
			<p>Desarrollado por: <a href="www." target="_blank" class="footerLink">Nuestra empresa</a> &copy; 2013</p>
		<footer>
	</body>
</html>