<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<title>
		Sistema integrado de gestión de notas
		</title>
		</head>
	<body>
		<h1>
			Colegio Huellitas Genitales
		</h1>	
		<hr>
		<form method="post">
			<input name="userName" type="text"/>
			<br>
			<input name="userPassword" type="text"/>
			<br>
            <input type="checkbox"/>                 
			<label>Recuerdame</label>
			<input type="submit" value="Ingresar"/>
		</form>
		<hr>	
		<footer>
			<p>Desarrollado por: XXXXXX &copy; 2013</p>
		<footer>
	</body>
</html>