.loginTitle{
	font-size:400%;
	text-align:center;
	margin-top:7%;
}

.loggedTitle{
	font-size:350%;
	margin-left:5%;
	display: inline;
}

.loginHr{
	width: 60%;
	height: 0.5%;
	background-color: #000;
}

.loggedHr{
	width: 90%;
	height: 0.5%;
	background-color: #000;
}

#formLogin{
	margin-left:38%;
	margin-top:4%;
	margin-bottom:2%;
}

.userName{
	width: 40%;
	height: 7%;
	font-size: 200%;
	border : 2px solid #000;
	background: url(/media/user.png) no-repeat right;
	padding-left:2%;
	padding-right:4.5%;
	color: #BDBDBD;
}

.userNameOnFocus{
	width: 40%;
	height: 7%;
	font-size: 200%;
	border : 2px solid #000;
	background: url(/media/user.png) no-repeat right;
	padding-left:2%;
	padding-right:4.5%;
	color: #000;
}

.userPassword{
	margin-top:2%;
	width: 40%;
	height: 7%;
	border : 2px solid #000;
	font-size: 200%;
	background: url(/media/user.png) no-repeat right;
	padding-left:2%;
	padding-right:4.5%;
	color: #BDBDBD;
}

.userPasswordOnFocus{
	margin-top:2%;
	width: 40%;
	height: 7%;
	border : 2px solid #000;
	font-size: 200%;
	background: url(/media/user.png) no-repeat right;
	padding-left:2%;
	padding-right:4.5%;
	color: #000;
}

.loginRemember{
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 200%;
}

.loginButton{
	width: 15%;
	height: 7%;
	font-size: 170%;
	margin-left: 6.3%;
	border : 2px solid #000;
	background-color: #FFF;
}

.loginButton:hover{
	background-color: #000;
	color: #FFF;
}

.loginFooter{
	font-size: 200%;
	text-align:center;
	margin-top: 3%;
}

.loggedFooter{
	font-size: 200%;
	text-align:center;
	margin-top: -1%;
}

.footerLink{
	color: #000;
	font-weight:bold;
}

.imagesAdministrator{
	width: 25%;
	height: 18%;
}

.textImage{
	margin-top: -0.0%;
	margin-bottom: 7%;
	background-color: #000;
	width: 25%;
	font-size: 200%;
}

.imgagesLink{
	color: #FFF;
	font-weight:bold;
	text-decoration: none;
	padding-left:15%;
}