.loginTitle{
	font-size:400%;
	text-align:center;
	margin-top:7%;
}

.loggedTitle{
	font-size:400%;
	margin-left:5%;
}

.loginHr{
	width: 60%;
	height: 0.5%;
	background-color: #000;
}

.loggedHr{
	width: 90%;
	height: 0.5%;
	background-color: #000;
}

#formLogin{
	margin-left:38%;
	margin-top:4%;
	margin-bottom:2%;
}

.userName{
	width: 40%;
	height: 7%;
	font-size: 200%;
	border : 2px solid #000;
	background: url(/media/user.png) no-repeat right;
	padding-left:2%;
	padding-right:45px;
	color: #BDBDBD;
}

.userNameOnClick{
	width: 40%;
	height: 7%;
	font-size: 200%;
	border : 2px solid #000;
	background: url(/media/user.png) no-repeat right;
	padding-left:2%;
	padding-right:45px;
	color: #000;
}

.userPassword{
	margin-top:2%;
	width: 40%;
	height: 7%;
	border : 2px solid #000;
	font-size: 200%;
	background: url(/media/user.png) no-repeat right;
	padding-left:2%;
	padding-right:45px;
	color: #BDBDBD;
}

.userPasswordOnClick{
	margin-top:2%;
	width: 40%;
	height: 7%;
	border : 2px solid #000;
	font-size: 200%;
	background: url(/media/user.png) no-repeat right;
	padding-left:2%;
	padding-right:45px;
	color: #000;
}

.loginRemember{
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 200%;
}

.loginButton{
	width: 15%;
	height: 7%;
	font-size: 170%;
	margin-left: 6.3%;
	border : 2px solid #000;
	background-color: #FFFFFF;
}

.loginButton:hover{
	background-color: #000;
	color: #FFFFFF;
}

footer{
	font-size: 200%;
	text-align:center;
	margin-top: 3%;
}

a{
	color: #000;
	font-weight:bold;
}